<section class="section summary-section">
<style>
.multi-column {
   -moz-column-count: 2;
   -moz-column-gap: 20px;
   -moz-column-fill: auto;
   -webkit-column-count: 2;
   -webkit-column-gap: 20px;
   -webkit-column-fill: auto;
   column-count: 2;
   column-gap: 20px;
   column-fill: auto;
   list-style-position: inside;
}
</style>
<h2 class="section-title"><i class="fa fa-user"></i>Resume</h2>
<div><a href="../resume.pdf" target="_blank"> Click here</a> for PDF version.<p></p></div>
<h2 class="section-title"><i class="fa fa-user"></i>Relevant Coursework</h2>
<div class="summary">
    <ul class="multi-column">
      <li>Web Information Retrieval</li>
      <li>Machine Learning and Data Mining</li>
      <li>Analysis of Algorithms</li>
      <li>Computer Architecture</li>
      <li>Systems Programming</li>
      <li>Applied Regression Analysis</li>
      <li>Time Series Analysis</li>
      <li>Inferential Statistics</li>
    </ul>
</div><!--//summary-->
</section><!--//section-->