<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Undergraduate Research Assistant</h3>
                            <div class="time">January 2018 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Purdue University, West Lafayette, IN</div>
                    </div><!--//meta-->
                    <div class="details">
                        <li>run experiments and recruit participants campus-wide for the Vernon Smith Experimental Economics Laboratory.</li>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Intern at Research and Statistics Department</h3>
                            <div class="time">June 2017 - August 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">The Central Bank of Mongolia, Mongolia</div>
                    </div><!--//meta-->
                    <div class="details">
                        
                        <li>Worked on in-house paper on using Google Trends to forecast key economic indicators, and used Python for the analytics.</li> 

                        <li>Designed a semi-automated excel workbook for consolidating data from multiple excel files using VBA.</li>

                        <li>Analyzed historical and economic effects of weighted interest rates for loan, savings and deposits of commercial banks.</li>
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineering Intern</h3>
                            <div class="time">May 2017 - June 2017</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://www.hde.co.jp/en/" target="_blank">HDE, Inc.</a>, Tokyo, Japan</div>
                    </div><!--//meta-->
                    <div class="details">
                        
                        <li><b>Twitter Clone:</b> Web application built using AWS, S3, Redis, Python, Flask, Google OpenID SSO and hosted with NGINX/Gunicorn. And wrote comprehensive test cases using unittest and Mock.</li>  

                        <li><b>DevOps:</b> Training on testing, deployment and integration using CircleCi and chef cookbooks using Ruby.</li>

                        <li><b>Internal Document Searching Tool:</b> Using Python and Flask, integrated Slack message searching feature into the company’s document searching tool used by the sales and technical divisions.</li>

                        <li><b>Technical Talk:</b> On Machine Learning techniques to the core engineering department and the upper management.</li>

                        <li><b>Blog: </b><a href="https://medium.com/@hdeglobalintern/jay-intern-life-and-6-weeks-in-tokyo-c3d2fdf9a6de" target="_blank">Here</a> is a blog post I wrote about my internship and stay in Tokyo, Japan. It is posted on the company's Medium blogging website.</li>
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Intern</h3>
                            <div class="time">June 2016 - July 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Newcom LLC, Mongolia</div>
                    </div><!--//meta-->
                    <div class="details">
                        
                        <li>Coded a simulation for the demand load by leveraging NYC’s real-time electricity data using Python and IoT modules.</li>

                        <li>Completed a 60-page feasibility study on $22 million utility scale solar park and a full study of dynamic pricing of electricity</li>  

                        <li>Worked under direct supervision of Project Director and CEO, and consulted with the experts from various departments.</li>

                        <li>Referenced over 20 qualitative and quantitative academic papers and in-house reports.</li>

                        <li>Presented the final outcome of the analyses and the resulting investment benefits to the senior management and the CEO</li>
                        
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Teaching Assistant</h3>
                            <div class="time">January 2016 - May 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Purdue University, West Lafayette, IN</div>
                    </div><!--//meta-->
                    <div class="details">
                        <li>Led Python programming laboratory sessions, graded student coursework and proctored exams.</li>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Program Coordinator</h3>
                            <div class="time">August 2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Zorig Foundation, Mongolia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <li>Organize a <a href="http://mysp.world" target="_blank">college preparation and youth leadership program</a> sponsored by the U.S. Embassy.</li>

                        <li>Lead sponsorship deals, procure ground logistics and recruit staff from top U.S. universities and colleges.</li>

                        <li>Manage over 40 project staffs and participants and led panel discussions with top experts from various industries.</li>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
